env/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env
static/.webassets-cache/
static/css/scss-generated.css

node_modules/
package-lock.json
.vercel
