@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.footer > img {
  height: 2rem;
}



textarea {
  outline: 1px solid #04C869;
  border: none;
  border-radius: 4px;
}

input[type="text"], input[type="number"] {
  padding: 12px 16px;
  border: 1px solid #04C869;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 3px;
  color: #fff;
  background-color: #04C869;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

#hero-art {
  color: #10a37f
}

#prompt-art {
  color: #5abbd1
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.magic {
  font-family: ColfaxAI;
  font-style: italic oblique;
  font-weight: 900;
  background: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px #212534;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: spin 2.5s linear infinite;
  padding: 3px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 6em;
  color: rgb(88 199 250 / 0%);
}



/*  */

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
