{% extends "base.html" %}

{% block body %}

  <h3 class="mb-2 mt-3" id="prompt-art">Tell us about your property</h3>
  <form action="/" method="post">

    <input type="number" name="bedroom-count" placeholder="Bedrooms" />
    <input type="number" name="bathroom-count" placeholder="Bathrooms" />
    <input type="text" name="zipcode" placeholder="Zipcode" />
    
    <div class="mb-3">

      <label class="form-label" for="highlights">Highlights</label>
      <textarea class="form-control" id="highlights" rows="4"></textarea>
    </div>

    {% for checkbox in checkboxes %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name={{checkbox.name}} name={{checkbox.name}} >
        <label class="form-check-label" for={{checkbox.name}}>{{checkbox.name}}</label>
      </div>
    {% endfor %}

    <input type="submit" value="Create Copy" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}

{% endblock %}