<!DOCTYPE html>
<head>
  <title>Realmarkably Copy Generator</title>
  <meta name="description" content="real estate copy generating tool" />
  <link
    rel="icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <a href="/home.html">Home</a>
  
  
  
  <h3>Tell us about your property</h3>
  <form action="/" method="post">

    <input type="text" name="bedroomCount" placeholder="Bedrooms" required />
    <input type="text" name="bathroomCount" placeholder="Bathrooms" required />
    <input type="text" name="zipcode" placeholder="Zipcode" required />
    <input type="checkbox" name="garage" placeholder="garage" required />
  
    <input type="submit" value="Generate names" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
