{% extends "base.html" %}

{% block body %}
  <div class="container" style="max-width: 800px">

    <h2 class="mb-4 mt-3 text-center" id="prompt-art">Tell us about your property</h2>
    
    <div class="d-lg-flex justify-content-center gap-4 mb-5" id="franklin-container">
      <div class="form w-100 mb-3">
        <form action="/" method="post">
          <input type="number" class="form-control" name="bedroom-count" placeholder="Bedrooms" />
          <input type="number" class="form-control" name="bathroom-count" placeholder="Bathrooms" />
          <input type="text" class="form-control" name="zipcode" placeholder="Zipcode" />
          
          <div class="form-group mb-2">
            <textarea class="form-control" id="highlights"  name="highlights" rows="3" placeholder = "Additional features"></textarea>
          </div>
          
          <input class="p-2 d-block mx-auto" type="submit" value="Create Copy" />
        </form>
        
      </div>
      
      
      <div class="result w-100">
        {% if result %}
        <textarea class="result-box h-100 w-100" style="min-height: 350px">{{ result | trim }}</textarea>
        {% else %}
        <textarea class="result-box h-100 w-100" style="min-height: 350px" placeholder= "Text will appear here"></textarea>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}